
/* Header Style */

header {
    background-color: #5b5a89;
    display: flex;
    flex-direction: column;
    justify-items: space;
    align-items: center;
    font-size: 36px;
    color: white;
}

/* Main Content Style */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #89d6e8;
    padding: 40px;
    gap: 100px
}

button {
    background-color: #487476;
    color: white;
    font-size: 24px;
    height: 50px;
    width: 200px;
    border-radius: 16px;
    box-shadow: 14px 14px 20px 0px rgb(100, 100, 100);
}

button:active {
    scale: 90%;
    box-shadow: 20px 20px 20px 0px rgb(100, 100, 100);
}

.drawing {
    height: 670px;
    width: 670px;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: white;
    box-shadow: 14px 14px 20px 0px rgb(100, 100, 100);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 30px
}

/* Footer Style */

footer {
    background-color: #295273;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 20px;
}